<h2>Curso</h2>
<hr />

<form #formCruso>
  <div class="form-group">
    <label for="inputAddress">Nome</label>
    <input [readonly]="!curso.editar" type="text" class="form-control" id="name" name="name" #cursoNome
      [(ngModel)]="curso.name" [ngClass]="{'is-invalid': cursoName.invalid}">
  </div>
  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="inputEmail4">Preço</label>
      <input [readonly]="!curso.editar" type="number" class="form-control" id="preco" name="preco" #cursoPreco
        step=".01" [(ngModel)]="curso.preco" [ngClass]="{'is-invalid': cursoName.invalid}">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Duração em Horas</label>
      <input [readonly]="!curso.editar" type="number" class="form-control" id="duracao" name="duracao" #cursoDuracao
        [(ngModel)]="curso.duracao" [ngClass]="{'is-invalid': cursoName.invalid}">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputCity">Codigo</label>
      <input [readonly]="!curso.editar" type="text" #cursoCode class="form-control" id="code" name="code"
        [(ngModel)]="curso.code" [ngClass]="{'is-invalid': cursoName.invalid}">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Data de inicio</label>
      <input [readonly]="!curso.editar" type="text" class="form-control" name="dataInicio" #cursoDataIni
        [(ngModel)]="curso.dataCriacao" [ngClass]="{'is-invalid': cursoName.invalid}">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Avaliacao</label>
      <input [readonly]="!curso.editar" type="number" class="form-control" name="avaliacao" #cursoAvaliacao step="0.1"
        max="5" min="0" [(ngModel)]="curso.avaliacao" [ngClass]="{'is-invalid': cursoName.invalid}">
    </div>

  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Descrição</label>
    <textarea [readonly]="!curso.editar" class="form-control" name="descricao" #cursoDescricao
      id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-secondary mr-2" [hidden]="curso.editar != true"
    (click)="curso.editar = false">Cancelar</button>
  <button type="submit" class="btn btn-primary mr-2" [hidden]="curso.editar != true">Salvar</button>
  <button type="submit" class="btn btn-primary" [hidden]="curso.editar == true"
    (click)="curso.editar = true">Editar</button>
</form>